@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Gothic&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
}

input {
  font-family: inherit;
}

::placeholder {
  color: #534847;
}

.wrapper {
  /* background-image: url(../img/wrapper/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.mySwiperHero{
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
}
.swiper-wrapper1{
  width: 100% !important;
  height: 100vh !important;
}
.swiper-slide1{
  padding-top: 130px !important;
  width: 100%;
  height: 100vh;
}

.heroImg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.heroCol{
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* header start */

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  z-index: 10;
}

.header-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1404px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header-logo {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 64px;
  list-style: none;
}

.nav-link {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3px;
  color: white;
  text-decoration: none;
}

/* header end */

/* hero start */
.hero {
  padding-top: 50px;
  padding-bottom: 104px;
}
.hero-container{
  max-width: 1420px;
  width: 100%;
  position: relative;
  z-index: 30;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.heroGradient{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.hero-text {
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 4px;
  color: white;
  margin-bottom: 54px;
}

.hero-title {
  font-family: Inter, sans-serif;
  font-size: 78px;
  font-weight: 600;
  line-height: 93.6px;
  letter-spacing: -3.9000000953674316px;
  color: white;
  margin-bottom: 35px;
}

.hero-link {
  font-family: Inter, sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: center;
  color: white;
  border: 1px solid #FFFFFFBF;
  border-radius: 100px;
  padding: 20px 28px;
  text-decoration: none;
}

.heroBtnContainer{
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}

.hero-btn {
  width: 100px;
  height: 100px;
  cursor: pointer;
  padding: 38px;
  display: flex;
  margin-left: auto;
  position: absolute;
  z-index: 10;
  bottom: 104px;
  right: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.hero-btn img {
  display: flex;
}

/* hero end */
/* hero end */

/* product start */
.product {
  padding-top: 123px;
  padding-bottom: 123px;
}

.product-container {
  max-width: 1404px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.product-banner {
  width: 668px;
  height: 717px;
  display: flex;
}

.product-title {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 75px;
  text-align: left;
}

.product-text {
  color: #7a7a7a;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 39px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

/* product end */

/* about start */

.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/about/about-bacround_img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 154px;
  padding-bottom: 129px;
}

.about-container {
  max-width: 1404px;
  margin-left: auto;
  margin-right: auto;
}

.about-text {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 103px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 4px;
  text-align: left;
}

.about-title {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  font-size: 48px;
  width: 548px;
  margin-bottom: 34px;
  font-weight: 600;
  line-height: 55.2px;
  text-align: left;
}

.about-link {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 4px;
  text-align: left;
  border-left: 2px solid #ffffff;
  display: flex;
  padding-left: 20px;
  margin-bottom: 127px;
  text-decoration: none;
}

.about-btn {
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  border: 1px solid white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.about-btn img {
  width: 24px;
}

.about-btn:hover {
  transform: scale(1.1);
}

/* about end */

/* california start */
.california {
  padding-bottom: 122px;
  padding-left: 20px;
  padding-right: 20px;
}

.california-card {
  background-color: green;
  position: relative;
  height: 440px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 36px;
  padding-bottom: 14px;
  overflow: hidden;
  transition: transform .3s;
  user-select: none;
}

.california-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .3s;

}

.california-card:hover .california-card-img {
  transform: scale(1.12);
}

.california-card-title {
  position: relative;
  z-index: 11;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 4px;
  text-align: center;
  color: white;
  margin-bottom: 12px;
}

.california-card-heading {
  position: relative;
  z-index: 11;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.7200000286102295px;
  text-align: center;
  color: white;
}

.california-card-date {
  position: relative;
  z-index: 11;
  margin-top: auto;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 4px;
  text-align: left;
  color: white;
}

.swiper-pagination-california {
  padding-top: 20px;
  justify-content: center !important;
  display: flex;
  padding-bottom: 20px;
  gap: 10px;
}

.swiper-pagination-bullet {
  transform: scale(1) !important;
  width: 4px;
  height: 4px;
  position: relative;
  opacity: 1;
  margin: 0;
  outline: 1px solid black;
  outline-offset: 0px;
  transition: outline-offset .3s;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: black !important;
  width: 4px;
  height: 4px;
  outline: 1px solid black;
  outline-offset: 5px;
}

/* swiper end swiper-pagination-bullet-active*/

/* california end */

/* benefits start */
.benefits {
  background-color: #f5f6f8;
  padding: 123px 0;
  /* instead of: Apercu, sans-serif */
  font-family: Inter, sans-serif;
}

.benefits-container {
  max-width: 1580px;
  margin: auto;
  padding: 15px;
}

.benefits-title {
  margin-bottom: 100px;
  font-size: 100px;
  font-weight: 300;
  line-height: 1;
  color: #21201e;
  text-align: center;
}

.benefits-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 33px;
}

.benefits-item {
  padding: 40px 0;
}

.benefits-item img {
  display: inline-block;
  display: block;
  height: 30px;
  margin-bottom: 30px;
}

.benefits-item .title {
  color: #21201e;
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 30px;
}

.benefits-item p {
  color: #21201e;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  opacity: .7;
}

/* benefits end */

/* footer start */
footer {
  background-color: #090B19;
  font-family: "Poppins", serif;
}

.footer-container {
  max-width: 1400px;
  margin-inline: auto;
  border-inline: 1px solid #FFFFFF1F;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-container .item {
  padding: 75px 40px 67px;
  color: white;
}

footer .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 60px;
  font-family: Inter, sans-serif;
}

footer p {
  line-height: 1.5;
}

.footer-container .item:nth-child(2) {
  border-inline: 1px solid #FFFFFF1F;
}

footer form {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

footer input {
  width: 100%;
  padding: 12px 37.4px;
  border: none;
  outline: none;
  height: 47px;
  font-size: 16px;
  line-height: 1.5;
}

footer input.submit-btn {
  background-color: #E6A859;
  color: #FFF;
  cursor: pointer;
  transition: all .3s;
}

footer input.submit-btn:hover {
  background-color: #D48B46;
}

footer .copyright {
  margin-top: 100px;
}

.bottom-navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.bottom-navbar li {
  list-style: none;
}

.bottom-navbar li a {
  color: #FFFFFF99;
  line-height: 1.5;
  text-decoration: none;
}

footer .icons {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

footer .icons i {
  width: 20px;
  text-align: center;
}

footer .icons a {
  display: flex;
  align-items: center;
  gap: 15px;
  color: inherit;
  text-decoration: none;
}

footer .icons a:hover {
  opacity: 0.7;
}
/* footer end */